@font-face {
font-family: 'Diagram_Builder_Icon';
src:
url('Fonts/Diagram_Builder_Icon.ttf') format('truetype'),
url('Fonts/Diagram_Builder_Icon.woff') format('woff'),
url('Fonts/Diagram_Builder_Icon.eot') format('eot'),
url('Fonts/Diagram_Builder_Icon.svg?#Diagram_Builder_Icon') format('svg');
font-weight: normal;
font-style: normal;
}

[class^="sf-icon-"], [class*=" sf-icon-"] {
 font-family: 'Diagram_Builder_Icon' !important;
speak: none;
font-size: 55px;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.sf-icon-new:before { content: "\e700"; }
.sf-icon-open:before { content: "\e701"; }
.sf-icon-save:before { content: "\e702"; }
.sf-icon-save-as:before { content: "\e703"; }
.sf-icon-export:before { content: "\e704"; }
.sf-icon-print:before { content: "\e705"; }
.sf-icon-undo:before { content: "\e706"; }
.sf-icon-redo:before { content: "\e707"; }
.sf-icon-cut:before { content: "\e708"; }
.sf-icon-copy:before { content: "\e709"; }
.sf-icon-paste:before { content: "\e70a"; }
.sf-icon-delete:before { content: "\e70b"; }
.sf-icon-zoom-in:before { content: "\e70c"; }
.sf-icon-zoom-out:before { content: "\e70d"; }
.sf-icon-layers:before { content: "\e70e"; }
.sf-icon-send-to-back:before { content: "\e70f"; }
.sf-icon-bring-to-front:before { content: "\e710"; }
.sf-icon-send-backward:before { content: "\e711"; }
.sf-icon-bring-forward:before { content: "\e712"; }
.sf-icon-pan:before { content: "\e713"; }
.sf-icon-pointer:before { content: "\e714"; }
.sf-icon-draw_shapes:before { content: "\e715"; }
.sf-icon-rectangle:before { content: "\e716"; }
.sf-icon-elipse:before { content: "\e717"; }
.sf-icon-polygon:before { content: "\e718"; }
.sf-icon-straight_line:before { content: "\e719"; }
.sf-icon-orthogonal_line:before { content: "\e71a"; }
.sf-icon-bezier:before { content: "\e71b"; }
.sf-icon-free_hand:before { content: "\e71c"; }
.sf-icon-fil_colour:before { content: "\e71d"; }
.sf-icon-border_colour:before { content: "\e71e"; }
.sf-icon-group:before { content: "\e71f"; }
.sf-icon-ungroup:before { content: "\e720"; }
.sf-icon-rotate:before { content: "\e721"; }
.sf-icon-insert_link:before { content: "\e722"; }
.sf-icon-insert_image:before { content: "\e723"; }
.sf-icon-align_left:before { content: "\e724"; }
.sf-icon-align_center:before { content: "\e725"; }
.sf-icon-align_right:before { content: "\e726"; }
.sf-icon-align_top:before { content: "\e727"; }
.sf-icon-align_middle:before { content: "\e728"; }
.sf-icon-align_bottom:before { content: "\e729"; }
.sf-icon-distribute_vertical:before { content: "\e72a"; }
.sf-icon-distribute_horizontal:before { content: "\e72b"; }
.sf-icon-lock:before { content: "\e72c"; }
.sf-icon-unlock:before { content: "\e72d"; }
.sf-icon-text:before { content: "\e72e"; }
.sf-icon-globe:before { content: "\e72f"; }
.sf-icon-visible:before { content: "\e730"; }
.sf-icon-underline:before { content: "\e731"; }
.sf-icon-bold:before { content: "\e732"; }
.sf-icon-chevron-down-fill:before { content: "\e733"; }
.sf-icon-chevron-up-fill:before { content: "\e734"; }
.sf-icon-chevron-down:before { content: "\e735"; }
.sf-icon-chevron-up:before { content: "\e736"; }
.sf-icon-flip-vertical:before { content: "\e737"; }
.sf-icon-flip-horizontal:before { content: "\e738"; }
.sf-icon-rotate-counter-clockwise:before { content: "\e739"; }
.sf-icon-rotate-clockwise:before { content: "\e73a"; }
.sf-icon-align-left:before { content: "\e73f"; }
.sf-icon-align-center:before { content: "\e740"; }
.sf-icon-align-right:before { content: "\e741"; }
.sf-icon-italic:before { content: "\e742"; }
.sf-icon-check-tick:before { content: "\e743"; }
.sf-icon-order:before { content: "\e744"; }
.sf-icon-page_orientation:before { content: "\e745"; }
.sf-icon-add-child:before { content: "\e746"; }
.sf-icon-add-sibling:before { content: "\e747"; }
.sf-icon-font-color:before { content: "\e748"; }
.sf-icon-multiple-child:before { content: "\e749"; }
.sf-icon-landscape:before { content: "\e74a"; }
.sf-icon-portrait:before { content: "\e74b"; }
.sf-icon-light:before { content: "\e74c"; }
.sf-icon-dark:before { content: "\e74d"; }
.sf-icon-properties:before { content: "\e74e"; }
.sf-icon-hide:before { content: "\e74f"; }
.sf-icon-left-right:before { content: "\e750"; }
.sf-icon-right-left:before { content: "\e751"; }
.sf-icon-bottom-top:before { content: "\e752"; }
.sf-icon-top-bottom:before { content: "\e753"; }
.sf-icon-graphic_view:before { content: "\e754"; }
.sf-icon-text-view:before { content: "\e755"; }
.sf-icon-page-break:before { content: "\e756"; }
.sf-icon-align-text-left:before { content: "\e757"; }
.sf-icon-align-text-rignt:before { content: "\e758"; }
.sf-icon-align-text-top:before { content: "\e759"; }
.sf-icon-align-text-bottom:before { content: "\e75a"; }
.sf-icon-align-text-horizontal-center:before { content: "\e75b"; }
.sf-icon-align-text-vertical-center:before { content: "\e75c"; }
.sf-icon-close:before { content: "\e75d"; }
.sf-icon-gradient-alignment:before { content: "\e75e"; }
