/* https://fonts.google.com/specimen/Roboto?selection.family=Lato|Roboto */
html {
    min-height: 100%;
}

body {
    overflow-y:hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: "Roboto","GeezaPro","DejaVu Serif";
    letter-spacing: 0.3px;
}

input, button, select, textarea {
    letter-spacing: 0.3px;
}

/* Top Header Customization */

.e-symbolpalette {
    display: block;
}

.header {
    position: relative;
    display: block;
    z-index: 11;
}

    .header.navbar {
        border-width: 0;
        border-radius: 0;
        margin-bottom: 0;
    }

.db-header-container {
    background-color: #046AE5;
    width: 100%;
}

.db-menu-container,
.db-diagram-name-container {
    height: 32px;
    width: 100%;
}

.db-diagram-name-container {
    padding: 6px 20px;
}

.db-diagram-name-container #diagramName {
    display: block;
    margin-top: 2px;
}

.db-diagram-name-container #diagramEditable {
    display: none;
    background: transparent;
    border: none;
    font-weight: 400;
    height: 19px;
    min-width: 260px;
}

.db-diagram-name-container.db-edit-name #diagramName {
    display: none;
}

.db-diagram-name-container.db-edit-name #diagramEditable {
    display: block;
}

.db-diagram-name {
    color: #ffffff;
    font-size: 12px;
    height: 19px;
    float: left;
}

.db-save-text {
    left: 280px;
    margin-top: 2px;
    position: absolute;
}

#diagramName:hover {
    cursor: pointer;
    color: #E4F0FE;
}

.db-menu-container {
    padding: 2px 10px;
}

.db-toolbar-editor {
    height: 48px;
    background-color: #e3e3e3;
    padding: 10px 20px;
}

.db-toolbar-container {
    width: calc(100% - 54px);
    float: left;
}

/* Main Content Customization */

.row {
    margin-left:0px;
    margin-right:0px;
}

.sidebar {
    position: absolute;
    bottom: 0;
    width: 255px;
    left: 0px;
    height: calc(100% - 112px);
}

.main-content {
    margin: 0;
    left:255px;
    height: calc(100% - 112px);
    position:absolute;
    width:calc(100% - 255px);
}

.db-palette-parent {
    background-color:#fafafa;
    width:100%;
    height:calc(100% - 28px);
}

.sidebar.show-overview .db-palette-parent {
    height:calc(100%);
}

#symbolpalette_search {
    background-color: white;
    border-color: #CBCBCB;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    width: 100%;
    margin: 0px;
    height: 40px !important;
}

#symbolpalette_container {
    border-width: 0px;
}

#textEnter {
    padding: 5px 5px 5px 10px;
    text-indent: 5px;
}

#iconSearch {
    padding-right: 10px;
}

.db-property-editor-container {
    width: 260px;
    background: #e3e3e3;
    height: 100%;
    float: left;
    padding: 10px;
    overflow: auto;
    border-left: 1px solid #CBCBCB;
    border-top: 1px solid #CBCBCB;
}

.e-accordion .e-acrdn-item.e-select.e-expand-state {
    border-bottom: 1px solid #CBCBCB;
}

.e-accordion .e-acrdn-item.e-select.e-selected.e-active > .e-acrdn-header {
    border-bottom: 1px solid #CBCBCB;
}

.e-accordion .e-acrdn-item .e-acrdn-header .e-acrdn-header-content {
    color: #000000;
    font-weight: 400;
    font-size: 12px;
}

.diagrambuilder-container.hide-palette .sidebar {
    display: none;
}

.diagrambuilder-container.hide-properties .main-content {
    width: 100%;
}

.db-diagram-container {
    width:calc(100% - 260px);
    height: 100%;
    float: left;
}

.db-current-diagram-container {
    height: calc(100% );
}

/* Diagram Adorner Layer, Ruler, Context Menu Customization - Start */

.e-diagram #diagram_editBox {
    box-sizing: content-box;
    min-width: 50px !important;
    color: black !important;
    background-color: white !important;
}

.e-diagram-thin-grid {
    stroke: #E0E0E0;
}

.e-contextmenu-wrapper.e-diagram-menu ul {
    font-size: 12px;
    padding: 0px;
}

.e-diagram-menu.e-contextmenu-wrapper .e-contextmenu .e-menu-item .e-caret {
    font-size: 10px;
}

.e-diagram .e-diagram-text-edit {
    border-color: #000000;
}
 
#diagram_SelectorElement .e-disabled {
    opacity: 1;
}

#diagram_overlapRuler {
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #CBCBCB;
}

.e-ruler-tick {
    stroke: #979797;
}

.e-ruler-tick-label {
    fill: #979797;
    font-family: Roboto;
    font-size: 10px;
}

.e-diagram-rotate-handle {
    fill: black;
    stroke: white;
}

.e-symbolpalette .e-symbol-hover:hover {
    background: #EEEEEE;
}

.e-symbol-draggable.e-symbol-hover.e-symbol-selected {
    background: #cccccc;
}

/* Diagram Adorner Layer, Ruler, Context Menu Customization - End */

/* Menu Bar Customization - Start */

.db-menu-style {
    float: left;
    margin-right: 0px;
}

.db-menu-style .e-dropdown-btn {
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 400;
    background-color: transparent;
    color:#ffffff;
    height: 28px;
}

.db-menu-style .e-dropdown-btn.e-btn-hover,
.db-menu-style .e-dropdown-btn:hover {
    background-color: #ffffff;
    color: #046AE5;
    box-shadow: 0 0 0 0;
}

.e-dropdown-popup,
.e-contextmenu-wrapper ul.e-contextmenu  {
    border: 0.5px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
}

.e-dropdown-popup ul {
    min-width: 150px;
    font-size: 12px;
    padding: 0px;
}

.e-dropdown-popup .e-contextmenu {
    width: 225px;
}

.e-dropdown-popup ul .e-item,
.e-contextmenu-wrapper ul .e-menu-item {
    height: 24px;
    line-height: 24px;
    padding: 0px 8px;
}

.e-contextmenu-wrapper ul .e-menu-item.e-separator,
.e-dropdown-popup ul .e-item.e-separator {
    margin: 0px;
}

.e-contextmenu-wrapper ul .e-menu-item .e-menu-icon,
.e-dropdown-popup ul .e-item .e-menu-icon {
    font-size: 12px;
    line-height: 24px;
    margin-right: 8px;
    color:#888888;
}

.e-contextmenu-wrapper ul .e-menu-item.e-blankicon,
.e-dropdown-popup ul .e-item.e-blank-icon {
    padding-left: 28px;
}

.e-contextmenu-wrapper ul .e-menu-item .e-caret {
    line-height: 24px;
    font-size: 12px;
}

.e-contextmenu-wrapper ul .e-menu-item.e-focused,
.e-dropdown-popup ul .e-item:hover {
    background-color: #E4F0FE;
    color: rgba(0, 0, 0, 0.87);
}

.e-contextmenu-wrapper ul .e-menu-item.e-selected,
.e-dropdown-popup ul .e-item:active {
    background-color: #F0F0F0;
    color: rgba(0, 0, 0, 0.87);
}

.db-menu-style .e-btn-icon {
    display: none;
}

.db-shortcut {
    float: right;
    color: #999999;
    font-size: 12px;
}

/* Menu Bar Customization - End */

/* Toolbar Customization - Start */

.e-toolbar {
    min-height: 28px;
    height: 28px;
}

.e-toolbar .e-toolbar-items {
    min-height: 28px;
    height: 28px;
    width: 100%;
    background: #e3e3e3;
}

.e-toolbar .e-toolbar-items .e-toolbar-item {
    min-height: 28px;
    margin-top: 0px;
}

.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child {
    margin-left: 0px;
}

.e-toolbar .e-toolbar-items .e-toolbar-item:not(.e-separator) {
    padding: 0px;
}

#toolbarEditor .e-toolbar-items .e-toolbar-item.e-separator {
    margin: 0px;
    background-color: #b5b5b5;
}

.e-toolbar .e-toolbar-items .e-toolbar-item.e-separator {
    border-right: 0px;
}

#toolbarNodeInsert {
    width: 34px !important;
}

.db-property-editor-container .e-toolbar .e-toolbar-items .e-toolbar-item:not(.e-separator) {
    width: calc(100% / 3);
}

.db-property-editor-container #toolbarTextAlignment .e-toolbar-items .e-toolbar-item:not(.e-separator) {
    width: calc(100% / 6);
}

.db-property-editor-container #orgChartAlignment .e-toolbar-items .e-toolbar-item:not(.e-separator) {
    width: calc(100% / 6);
}

.e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn,
.e-toolbar .e-toolbar-items .e-toolbar-item .e-dropdown-btn.e-btn {
    height: 100%;
    margin: 0px 0px 6px;
    /* background: #ffffff;*/
    background: transparent;
}

.e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn {
    width: 100% !important;
}

.e-toolbar .e-toolbar-item .e-tbar-btn.e-btn {
    line-height: 28px;
}

#toolbarEditor .e-toolbar-items .e-toolbar-item.tb-zoom-dropdown-btn .e-dropdown-btn {
    width: 64px;
    padding: 0px;
    line-height: 28px;
    font-size: 12px;
    text-indent: 3px;
}

#toolbarEditor .e-toolbar-items .e-toolbar-item.tb-drawtools-dropdown-btn .e-dropdown-btn {
    width: 47px;
    padding: 0px;
    line-height: 28px;
}

.e-toolbar .e-tbar-btn,
.e-toolbar .e-dropdown-btn {
    font-size: 14px;
    font-weight: normal;
}

.e-toolbar .e-toolbar-items .e-toolbar-item .e-btn {
    /* border-style: solid; */
    border-color: #D5D5D5;
}

.e-toolbar .e-toolbar-items .e-toolbar-item.tb-item-start .e-tbar-btn {
    border-width: 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.e-toolbar .e-toolbar-items .e-toolbar-item.tb-item-end .e-tbar-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-order .e-dropdown-btn {
    border-radius: 5px;
}

.e-toolbar .e-toolbar-items .e-toolbar-item.tb-item-middle .e-tbar-btn,
.e-toolbar .e-toolbar-items .e-toolbar-item.tb-item-end .e-tbar-btn,
.e-toolbar .e-toolbar-items .e-toolbar-item.tb-item-middle .e-dropdown-btn,
.e-toolbar .e-toolbar-items .e-toolbar-item.tb-item-end .e-dropdown-btn {
    border-width: 1px 1px 1px 0px;
}

.e-toolbar .e-toolbar-items .e-toolbar-item .e-dropdown-btn.e-btn .e-btn-icon.e-caret {
    font-size: 9px;
    margin-top: 0px;
}

.e-toolbar .e-icons {
    color: #757575;
}

.e-toolbar .e-toolbar-item .e-tbar-btn.e-btn .e-icons.e-btn-icon {
    line-height: 22px;
}

.e-toolbar .e-dropdown-btn .e-btn-icon:not(.e-caret) {
    color: #757575;
    font-size: 14px;
    line-height: 22px;
}

#orgChartAlignment .e-tbar-btn .e-icons.e-btn-icon,
#toolbarTextAlignment .e-tbar-btn .e-icons.e-btn-icon {
    font-size: 18px;
}

#toolbarEditor .db-theme-svg,
.db-ddl-template-style .db-theme-svg {
    background-image: url('Theme.svg');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    min-width: 14px;
    min-height: 14px;
    line-height: 14px;
    display: block;
    margin-left: 8px;
}

.db-ddl-template-style .ddl-svg-style {
    background-repeat: no-repeat;
    width: 140px;
    height: 24px;
    display: block;
    margin-top: 10px;
}

.e-input-value .db-ddl-template-style .ddl-svg-style {
    width: 34px;
}

#lineStyle .e-input-value .db-ddl-template-style .ddl-svg-style {
    width: 115px;
}

.db-ddl-template-style {
    padding: 6px 10px;
    height: 36px;
}

.e-input-value .db-ddl-template-style {
    padding: 2px 10px;
    height: 28px;
}

#nodeBorderStyle_popup .e-list-item {
    padding-right: 0px;
}

.ddl_linestyle_none {
    background-image: url('common_images/linestyle/0,0.svg');
}

.ddl_linestyle_one_two {
    background-image: url('common_images/linestyle/1,2.svg');
}

.ddl_linestyle_three_three {
    background-image: url('common_images/linestyle/3,3.svg');
}

.ddl_linestyle_five_three {
    background-image: url('common_images/linestyle/5,3.svg');
}

.ddl_linestyle_four_four_one {
    background-image: url('common_images/linestyle/4,4,1.svg');
}

.e-toolbar .e-toolbar-items:first-child > .e-toolbar-item:last-child {
    margin-right: 0px;
}



/* Toolbar Disable - Start */

#toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-fill .e-icons.e-btn-icon,
#toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-stroke .e-icons.e-btn-icon,
#toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-align-category .e-icons.e-btn-icon,
#toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-space-category .e-icons.e-btn-icon,
#toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-lock-category .e-icons.e-btn-icon,
#toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-group .e-icons.e-btn-icon, #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-ungroup .e-icons.e-btn-icon,
#toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-order .e-dropdown-btn .e-btn-icon,
#toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-undo .e-icons.e-btn-icon, #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-redo .e-icons.e-btn-icon {
    color: #bababa;
}
/* Toolbar Selected State - Start */

.e-toolbar .e-toolbar-items .e-toolbar-item.tb-item-selected .e-tbar-btn.e-btn,
.e-toolbar .e-toolbar-items .e-toolbar-item .e-dropdown-btn.tb-item-selected {
    background: #0078D4;
}

.e-toolbar .e-toolbar-items .e-toolbar-item.tb-item-selected .e-tbar-btn .e-icons.e-btn-icon,
.e-toolbar .e-toolbar-items .e-toolbar-item .e-dropdown-btn.tb-item-selected .e-btn-icon {
    color: #ffffff;
}


/* Toolbar Selected State - End */

/* Toolbar Enable - Start */

.db-toolbar-container.db-select #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-stroke,
.db-toolbar-container.db-select #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-lock-category,
.db-toolbar-container.db-select #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-order,
.db-toolbar-container.db-double #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-align-category,
.db-toolbar-container.db-multiple #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-space-category,
.db-toolbar-container.db-select.db-node #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-fill,
.db-toolbar-container.db-select.db-group #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-ungroup,
.db-toolbar-container.db-undo #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-undo, 
.db-toolbar-container.db-redo #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-redo {
    pointer-events: all;
}

.db-toolbar-container.db-select #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-stroke .e-tbar-btn,
.db-toolbar-container.db-select #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-lock-category .e-tbar-btn,
.db-toolbar-container.db-select #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-order .e-dropdown-btn,
.db-toolbar-container.db-double #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-align-category .e-tbar-btn,
.db-toolbar-container.db-multiple #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-space-category .e-tbar-btn,
.db-toolbar-container.db-select.db-node #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-fill .e-tbar-btn,
.db-toolbar-container.db-select.db-group #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-ungroup .e-tbar-btn,
.db-toolbar-container.db-undo #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-undo .e-tbar-btn, 
.db-toolbar-container.db-redo #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-redo .e-tbar-btn {
    background: #e3e3e3;
}

.db-toolbar-container.db-select #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-stroke .e-icons.e-btn-icon,
.db-toolbar-container.db-select #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-lock-category .e-icons.e-btn-icon,
.db-toolbar-container.db-select #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-order .e-dropdown-btn .e-btn-icon:not(.e-caret),
.db-toolbar-container.db-double #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-align-category .e-icons.e-btn-icon,
.db-toolbar-container.db-multiple #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-space-category .e-icons.e-btn-icon,
.db-toolbar-container.db-select.db-node #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-fill .e-icons.e-btn-icon,
.db-toolbar-container.db-select.db-group #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-ungroup .e-icons.e-btn-icon,
.db-toolbar-container.db-undo #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-undo .e-icons.e-btn-icon, 
.db-toolbar-container.db-redo #toolbarEditor .e-toolbar-items .e-toolbar-item.tb-item-redo .e-icons.e-btn-icon {
    color: #757575;
}

/* Dialog Content - Customization - Start */

.db-dialog-child-prop-row {
    margin-top: 6px;
}

.db-dialog-prop-row {
    margin-top: 8px;
}

/* Dialog Content - Customization - End */

/* Property Panel Customization - Start */

.db-prop-header-text {
    font-weight: 500;
    font-size: 13px;
}

.db-prop-row {
    margin-top: 6px;
}

.db-prop-col-style {
    padding-left: 0px;
    padding-right: 0px;
}

.db-col-left {
    padding-left: 0px;
    padding-right: 3px;
}

.db-col-center {
    padding-left: 3px;
    padding-right: 3px;
}

.db-col-right {
    padding-left: 0px;
    padding-right: 0px;
}

.db-prop-separator {
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    margin-left: -10px;
    width: calc(100% + 20px);
}
.db-color-container,
.db-text-container {
    width: 100%;
    background: #ffffff;
    /* border: 1px solid #E0E0E0; */
    height: 26px;
    /* border-radius: 3px; */
}

.db-text-container:hover,
.db-color-container:hover {
    border: 1px solid #B2B2B2;
}

.db-color-input {
    width: 100%;
    
}

.db-color-btn {
    width: 30px;
    height: 100%;
}

.db-color-input, .db-text-input {
    float: left;
    height: 100%;
}

.db-text {
    float: left;
    width: 20px;
    text-align: center;
    height: auto;
    margin-top: 4px;
    color: #8C8C8C;
}

.db-text-input {
    width: calc(100% - 25px);
    padding: 2px 2px 0px 0px;
}
.db-color-container .e-btn, 
.db-text-container .e-btn {
    width: 100%;
    height: 100%;
    padding: 0px;
    background: transparent;
    box-shadow: 0 0 0 0;
    padding: 2px 2px;
}

.db-color-container .e-dropdown-btn {
    width: 30px;
}
.db-prop-text-style {
    font-size: 10px;
    color: #333;
    font-weight: normal;
}

/* Property Panel Customization - End */

/* Numeric Text box Customization - Start */

.db-text-input .e-numeric input.e-numerictextbox.e-input {
    border: none;
}
.e-numeric input.e-numerictextbox.e-input {
    padding: 0px;
    text-indent: 5px;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
}

.e-numeric.e-input-group:hover .e-input-group-icon {
    display: block;
}

.e-numeric.e-input-group.e-control-wrapper:not(.e-float-icon-left) {
    border: 0px;
}

/* Numeric Text box Customization - End */

/* Slider Control Customization - Start */

.e-control-wrapper.e-slider-container.e-horizontal,
.e-control-wrapper.e-slider-container.e-horizontal .e-slider {
    height: 28px;
    top: 0px;
}

/* Slider Control Customization - End */

/* Dialog Customization start */

.e-dialog {
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.26);
}

.e-dialog .e-dlg-header-content {
    height: 36px;
    padding: 9.5px 4px 9.5px 16px;
    border-bottom: 1px solid #D5D5D5;
}

#openTemplateDialog .e-dlg-header-content {
    height: 44px;
    padding: 13.5px 4px 13.5px 16px;
}

#themeDialog .e-dlg-header-content {
    padding: 9.5px 4px 9.5px 6px;
}

.e-dialog .e-dlg-header-content .e-dlg-header {
    font-size: 14px;
    font-weight: 500;
    margin-top: -5px;
}

.e-dialog .e-dlg-header-content + .e-dlg-content {
    padding: 16px;
}

.e-dialog .e-dlg-header-content + .e-dlg-content input[type="text"]:not(.e-dropdownbase):not(.db-layer-edit):not(.e-input) {
    width: 100%;
    height: 28px;
    font-weight: normal;
    text-indent: 5px;
    border: 1px solid #D5D5D5;
}


.e-dialog .e-footer-content {
    padding: 24px 16px 16px 16px;
}

#btnDownloadFile,
#customPropertyDialog .e-dlg-content .e-btn,
.e-dialog .e-btn.e-flat.e-primary {
    background-color: #ffffff;
    border-color: #D5D5D5;
    text-transform: none;
    color: #515151;
    border-radius: 2px;
    min-width: 100px;
}

#btnDownloadFile:focus
#customPropertyDialog .e-dlg-content .e-btn:focus
.e-dialog .e-btn.e-flat.e-primary:focus {
    border-color: gray;
}

.e-dialog .e-btn.e-flat.e-db-primary.e-primary {
    background-color: #046AE5;
    border-color: #0058C1;
    color: #ffffff;
}

.e-dialog .e-btn.e-flat.e-db-primary.e-primary:hover,
.e-dialog .e-btn.e-flat.e-db-primary.e-primary:focus {
    background-color: #0058C1;
    color: #ffffff;
}

.e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
    left: 0px;
    padding: 0;
    top: -6px;
}

.e-dialog .e-btn.e-dlg-closeicon-btn:hover, 
.e-dialog .e-btn.e-dlg-closeicon-btn:focus, 
.e-dialog .e-btn.e-dlg-closeicon-btn:active {
    background-color: transparent;
}

#btnDownloadFile {
    width: 50%;
    text-transform: none;
    box-shadow: 0 0 0 0;
    margin-top: 7px;
}

/* Color Picker Customization */

.e-colorpicker-wrapper {
    width: 100%;
    height: 100%;
}

.e-split-btn-wrapper {
    width: 100%;
    height: 100%;
    padding-left: 2px;
}

.e-colorpicker-wrapper .e-selected-color {
    border-radius: 3px;
}

.e-colorpicker-wrapper .e-split-btn .e-selected-color {
    width: 100% !important;
    border: 1px solid #d2d2d2;
    border-radius: 3px !important;
}

.e-colorpicker-popup {
    box-shadow: 0 0 0 0;
    border: none;
    background-color: transparent;
    /* margin-left: 23px;
    margin-top: 1px; */
}

.e-colorpicker-popup .e-container {
    width: 240px;
}

.e-container .e-palette .e-item {
    height: 24px;
    width: 24px;
}

.e-split-btn-wrapper .e-split-btn,
.e-split-btn-wrapper:hover .e-split-btn {
    border-right-color: transparent;
}

/* DropdownList Customization Start */

.e-input-group.e-control-wrapper.e-ddl {
    padding-left: 5px;
    border-width: 1px;
    background: #ffffff;
    border-radius: 3px;
    height: 28px;
    margin-bottom: 0px;
}

/* Diagram Template Style - End */

/* Show/Hide Property Panel Customization Start */

.db-node-prop-container .db-node-behaviour-prop {
    display: block;
}

.db-node-prop-container.multiple .db-node-behaviour-prop {
    display: none;
}

.db-border-style-header {
    display: none;
}
/* Show/Hide Property Panel Customization End */

/* General Customization - start */
.db-readonly-input {
    width:100%;
    height:28px;
    border:1px solid #e3e3e3;
    background: #e3e3e3;
    text-indent: 3px;
    false
}

.e-icons {
    height: auto;
    width: auto;
}

button, input, select, textarea, .e-control.e-dropdownlist .e-input-group.e-ddl input.e-input,
.e-numeric.e-input-group input.e-input {
    font-size: 12px;
    color: #000000;
    font-weight: normal;
}

input:focus {
    outline: none;
}

.e-checkbox-wrapper .e-frame.e-check, .e-css.e-checkbox-wrapper .e-frame.e-check,
.e-checkbox-wrapper .e-checkbox:focus + .e-frame.e-check, .e-css.e-checkbox-wrapper .e-checkbox:focus + .e-frame.e-check,
.e-checkbox-wrapper:hover .e-frame.e-check, .e-css.e-checkbox-wrapper:hover .e-frame.e-check {
    background-color: #046AE5;
    border-color: transparent;
}

.db-text-input .e-numeric.e-input-group {
    padding: 1px 0px;
    height: 22px;
    width: 80px;
    /* margin: 0px 2px 0px 0px; */
}
